@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>No cuisines yet</h3>
}
else
{
  <h2>Cuisines</h2>
<div class="list-group">
@foreach(var cuisine in Model)
{
  <h2 class="list-group-item">@cuisine.GetName()</h2>
  <a href="/cuisines/@cuisine.GetId()/view" class="list-group-item">View all restaurants with this cuisine</a>
  <a href="/cuisines/@cuisine.GetId()/update" class="list-group-item">Edit this cuisine</a>
  <a href="/cuisines/@cuisine.GetId()/delete" class="list-group-item">Delete this cuisine</a>
  }
</div>

<form action="/cuisines/delete" method="post">
  <button type="submit" name="button" class="btn btn-default">Clear All Cuisines</button>
</form>
}
