@{
  Layout = "_Layout";
}

<h2>Edit cuisine: @Model.GetName()</h2>
<form class="form-inline" action="/cuisines/@Model.GetId()/update" method="post">
    <div class="form-group">
      <label for="new-name">Name:</label>
      <input type="text" class="form-control" name="new-name" value="@Model.GetName()">
    </div>
    <button type="submit" class="btn btn-default">Edit</button>
</form>
