@{
  Layout = "_Layout";
}

<h3>All Restaurants with this cuisine</h3>

<ul>
@foreach(var restaurant in Model)
{
  <li>Task: @restaurant.GetDescription() Cuisine: @restaurant.GetCuisineId() Due date: @restaurant.GetPrice() | <a href="/restaurants/@restaurant.GetId()/update">Edit</a></li>
  }
</ul>
<p><a href="/restaurants/new">Add another restaurant.</a></p>
<p><a href="/cuisines/new">Add another cuisine.</a></p>
<p><a href="/cuisines">Go to cuisines list.</a></p>
