@{
  Layout = "_Layout";
}

<form action="/reviews" method="post">
  <label for="new-restaurant">Restaurant:</label>
  <select name="new-restaurant">
    @foreach(var restaurant in Model)
    {
      <option value=@restaurant.GetId()>@restaurant.GetName()</option>
      }
  </select>
  <label for="new-rating">Star rating:</label>
  <input id="new-rating" name="new-rating" type="text" required="true">
  <label for="new-title">Review title:</label>
  <input id="new-title" name="new-title" type="text" required="true">
  <label for="new-content">Review content:</label>
  <input id="new-content" name="new-content" type="text" required="true">
  <button type="submit">Submit</button>
</form>
