@{
  Layout = "_Layout";
}

@if (Model.Count == 0)
{
  <h3>Cuisines must be created before restaurants can be created</h3>
}
else
{
<form class="form-inline" action="/restaurants" method="post">
  <div class="form-group">
    <label for="new-name">Restaurant name:</label>
    <input id="new-name" class="form-control" name="new-name" type="text" required="true">
  </div>

  <div class="form-group">
    <label for="new-cuisine">Category:</label>
    <select class="form-control" name="new-cuisine">
      @foreach(var cuisine in Model)
      {
        <option value=@cuisine.GetId()>@cuisine.GetName()</option>
        }
    </select>
  </div>

  <div class="form-group">
    <label for="new-price">Restaurant Price:</label>
    <input id="new-price" class="form-control" name="new-price" type="text" required="true">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
}
